* {
	font-family: sans-serif;
	font-weight: lighter;
}

body {
	background-color: black;
}

.tick {
	stroke: white;
}

.word {
	fill: white;
	&:hover {
		cursor: pointer;
		fill: orange;
	}
}

.chord path {
  fill-opacity: .67;
  stroke: white;
  stroke-width: .5px;
}

.relationship-arc {
	fill: none;
	stroke: orange;
	stroke-width: 2px;
}